# Chapter 1 Getting started with data

## Atomic Data Types

1. int
2. float

In [2]:
print(2 + 3 * 4)
print((2 + 3) * 4)
print(2 ** 10)
#returns a float
print(6 / 3)
print(7 / 3)
#return an integer
print(7 // 3)
#modulo returns the remainter nice for finding things that are dividible by somethign
print(7 % 3)
print(3 / 6)
print(3 // 6)
print(3 % 6)
print(2 ** 100)

14
20
1024
2.0
2.3333333333333335
2
1
0.5
0
3
1267650600228229401496703205376

## Boolean Data Type

1. bool class
True or False
can be used with ```and``` ```or``` and `not`
Also useful with comparison operators like `>`

In [3]:
print(5 == 10)
print(10 > 5)
print((5 >= 1) and (5 <= 10))

False
True
True

## Identifiers
1. these are the variable names, start with a letter or _

In [4]:
the_sum = 0
the_sum

the_sum = the_sum + 1
print(the_sum)

the_sum = True
print(the_sum)

1
True

# Lists

Table 2: Operations on Any Sequence in Python
 1. indexing `[]`
 2. concatenation `+`
 3. repetition `*` concatinate a repeated number of times
 4. membership `in` Ask if an item is in a sequence
 5. length `len`
 6. slicing `[:]` slicing starts at 0 and is non-inclusive

In [5]:
#repetition leads to a repeat of instances, but they all point to the same place in memory!
#This means that what you do to one repeat will happen to all repeats
my_list = [1, 2, 3, 4]
big_list = [my_list] * 3
print(big_list)
my_list[2] = 45
print(big_list)

[[1, 2, 3, 4], [1, 2, 3, 4], [1, 2, 3, 4]]
[[1, 2, 45, 4], [1, 2, 45, 4], [1, 2, 45, 4]]

## List methods

In [6]:
my_list = [1024, 3, True, 6.5]
#append adds a new item at the end of the list
my_list.append(False)
print(my_list)

[1024, 3, True, 6.5, False]

In [7]:
# insert will insert an item into the specified location 
#.insert(location, item_to_insert)
my_list.insert(2,4.5)
print(my_list)

[1024, 3, 4.5, True, 6.5, False]

In [8]:
#pop will remove and return the last item in the list
print(my_list.pop()) 
print(my_list)

False
[1024, 3, 4.5, True, 6.5]

In [9]:
#.pop(i) will remove and return the item from the list at this location
print(my_list.pop(1)) 
print(my_list)

3
[1024, 4.5, True, 6.5]

In [10]:
#sort modified a list to be sorted
my_list.sort()
print(my_list)

[True, 4.5, 6.5, 1024]

In [11]:
#reverse will reverse the order of a list
my_list.reverse()
print(my_list)

[1024, 6.5, 4.5, True]

In [12]:
#.index(item) returns the first occurance of item
print(my_list.index(4.5))

2

In [13]:
#.count(item) returns the number of times the item occurs in the list
print(my_list.count(6.5))

1

In [14]:
#.remove(item) remove the first occurence of the item
my_list.remove(6.5)
print(my_list)

[1024, 4.5, True]

In [15]:
#del[i] will delete the item at the ith position
del my_list[0]
print(my_list)

[4.5, True]

# Range Function

In [16]:
range(10)

range(0, 10)

In [17]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [18]:
#range of numbers from 5 to 9 using a step of 2
list(range(5,10,2))

[5, 7, 9]

In [21]:
#produces a reverse list, you need the -1 step or it will produce an empty list
list(range(10, 1, -1))

[10, 9, 8, 7, 6, 5, 4, 3, 2]

# Strings

In [23]:
#center puts the string in the center of a field of size w
string = 'skye'
string.center(10)

'   skye   '

In [25]:
#str.count(item) will return the number of items in the list
string.count("s")

1

In [26]:
#str.ljust(10) will left justify a string in a field of w rjust(10) will do the same to the right
string.ljust(10)

'skye      '

In [27]:
string.rjust(10)

'      skye'

In [28]:
#.lower and .upper will make the string upper or lowercase
string.upper()

'SKYE'

In [29]:
#find will find the index of fist occurance of an iten
string.find('k')

1

In [30]:
#split.(s_car) will spilt the string on a particular caracter
string.split("k")

['s', 'ye']

In [31]:
#because strings are immutable all the above did not actually change the string
#this is diiferent from lists which are mutaple
print(string)

skye

# Tuples

In [32]:
#heterogeneus and unmutable
my_tuple = (2, True, 4.96)

In [33]:
my_tuple

(2, True, 4.96)

In [34]:
len(my_tuple)

3

In [35]:
my_tuple[0]

2

In [36]:
#lists and tuples will repeat when a scalar function is applied
#arrays can do scalar math
my_tuple * 3

(2, True, 4.96, 2, True, 4.96, 2, True, 4.96)

In [37]:
my_tuple[0:2]

(2, True)

In [38]:
#you cannot change an item in a tuple
my_tuple[1] = False

TypeError: 'tuple' object does not support item assignment

# Set
unorderd collection of zero or more immutable python data opbjects
do not allow duplicates
comma delimited values in {}

In [39]:
{3, 6, "cat", 4.5, False}

{3, 4.5, 6, False, 'cat'}

In [40]:
my_set = {3, 6, "cat", 4.5, False}
my_set

{3, 4.5, 6, False, 'cat'}

In [42]:
len(my_set)

5

In [43]:
False in my_set

True

In [44]:
"dog" in my_set

False

## mathmatical opperations in sets

In [45]:
your_set = {99, 3, 100}

In [46]:
my_set.union(your_set)

{100, 3, 4.5, 6, 99, False, 'cat'}

In [47]:
#or opperator joins the sets like union
my_set | your_set

{100, 3, 4.5, 6, 99, False, 'cat'}

In [48]:
my_set.intersection(your_set)

{3}

In [49]:
#like the intersection 
my_set & your_set

{3}

In [50]:
my_set.difference(your_set)

{4.5, 6, False, 'cat'}

In [51]:
my_set - your_set

{4.5, 6, False, 'cat'}

In [52]:
{3, 100}.issubset(your_set)

True

In [53]:
{3, 100} <= your_set

True

In [55]:
my_set.add("house")
my_set

{3, 4.5, 6, False, 'cat', 'house'}

In [56]:
my_set.remove(4.5)
my_set

{3, 6, False, 'cat', 'house'}

In [57]:
my_set.pop()
False

False

In [58]:
my_set

{3, 6, 'cat', 'house'}

In [59]:
my_set.clear()
my_set

set()

You can use python set() function to convert list to set.It is simplest way to convert list to set.

As Set does not allow duplicates, when you convert list to set, all duplicates will be removed in the set.

In [60]:
listOfStudents=['Mohan','John','Ramesh','Mohan','John']
print("List of Students:",listOfStudents)

List of Students: ['Mohan', 'John', 'Ramesh', 'Mohan', 'John']

In [61]:
uniqueNames=set(listOfStudents)
print("Set of uniqueNames:",uniqueNames)

Set of uniqueNames: {'John', 'Ramesh', 'Mohan'}

In [62]:
listOfMarks=[8,7,6,7,8,8,7,6,7,8,9]
print("List of Makrs:",listOfMarks)

List of Makrs: [8, 7, 6, 7, 8, 8, 7, 6, 7, 8, 9]

In [63]:
setOfMarks=set(listOfMarks)
print("Set of marks:",setOfMarks)

Set of marks: {8, 9, 6, 7}

# Dictonaries

In [64]:
capitals = {"Iowa": "Des Moines", "Wisconsin": "Madison"}

In [65]:
print(capitals["Iowa"])

Des Moines

In [66]:
capitals["Utah"] = "Salt Lake City"
print(capitals)

{'Iowa': 'Des Moines', 'Wisconsin': 'Madison', 'Utah': 'Salt Lake City'}

In [67]:
capitals["California"] = "Sacramento"
print(len(capitals))

4

In [68]:
for k in capitals:
    print(capitals[k],"is the capital of", k)

Des Moines is the capital of Iowa
Madison is the capital of Wisconsin
Salt Lake City is the capital of Utah
Sacramento is the capital of California

In [69]:
phone_ext={"david": 1410, "brad": 1137, "roman": 1171}
phone_ext

{'david': 1410, 'brad': 1137, 'roman': 1171}

In [70]:
phone_ext.keys()

dict_keys(['david', 'brad', 'roman'])

In [71]:
list(phone_ext.keys())

['david', 'brad', 'roman']

In [72]:
phone_ext.values()

dict_values([1410, 1137, 1171])

In [73]:
list(phone_ext.values())

[1410, 1137, 1171]

In [74]:
phone_ext.items()

dict_items([('david', 1410), ('brad', 1137), ('roman', 1171)])

In [75]:
list(phone_ext.items())

[('david', 1410), ('brad', 1137), ('roman', 1171)]

In [76]:
#Returns the value associated with k, None otherwise
phone_ext.get("kent")

In [84]:
#Returns the value associated with k, alt otherwise
phone_ext.get("kent", "NO ENTRY")

'NO ENTRY'

In [79]:
'kent' in phone_ext

False

In [80]:
'david' in phone_ext

True

In [82]:
del phone_ext['david']

In [83]:
phone_ext

{'brad': 1137, 'roman': 1171}