In [1]:
print("Hello")

Hello

In [2]:
print("Hello", "World")

Hello World

In [3]:
print("Hello", "World", sep="***")

Hello***World

In [4]:
print("Hello", "World", end="***")

Hello World***

In [6]:
a_name = 'skye'
age= 42
#formatted strings use templates to replace variables
print(a_name, "is", age, "years old.")

skye is 42 years old.

In [7]:
#%is a format opperator %s tells it to input a string %d,i to input a digit
print("%s is %d years old." % (a_name, age))

skye is 42 years old.

In [8]:
price = 24
item = "banana"

In [9]:
print("The %s costs %d cents" % (item, price))

The banana costs 24 cents

## Formatting conversion characters
1. d,i are integers
2. u unsigned integer
3. f floating point as m.dddddd where d is the number of decimal points
4. e floating point as m.ddddde+/-xx
5. E Floating point as m.dddddE+/-xx
6. g Use %e for exponents less than âˆ’4 or greater than +5, otherwise use %f
7. c Single character
8. s String, or any Python data object that can be converted to a string by using the str function.
9. % Insert a literal % character

1. number %20d Put the value in a field width of 20
2. - %-20d Put the value in a field 20 characters wide, left-justified
3. + %+20d Put the value in a field 20 characters wide, right-justified
4. 0 %020d Put the value in a field 20 characters wide, fill in with leading zeros.
5. . %20.2f Put the value in a field 20 characters wide with 2 characters to the right of the decimal point.
6. (name) %(name)d Get the value from the supplied dictionary using name as the key.

In [10]:
#the first call puts the string in a field 10 spaced wide right justified
#%-10s would put it left justified
#%5.2f puts the characters in a field of 5 characters with 2 decimal points
print("The %+10s costs %5.2f cents" % (item, price))

The     banana costs 24.00 cents

In [11]:
print("The %+10s costs %10.2f cents" % (item, price))

The     banana costs      24.00 cents

In [12]:
itemdict = {"item": "banana", "cost": 24}

In [13]:
print("The %(item)s costs %(cost)7.1f cents" % itemdict)

The banana costs    24.0 cents

## using the {} format class

In [14]:
print("The {} costs {} cents".format(item, price))

The banana costs 24 cents

In [15]:
print("The {:s} costs {:d} cents".format(item, price))

The banana costs 24 cents

In [16]:
#new to python 3.6
print(f"The {item:10} costs {price:10.2f} cents")

The banana     costs      24.00 cents

In [17]:
#left justifies
print(f"The {item:<10} costs {price:<10.2f} cents")

The banana     costs 24.00      cents

In [18]:
#centers
print(f"The {item:^10} costs {price:^10.2f} cents")

The   banana   costs   24.00    cents

In [19]:
#right justify
print(f"The {item:>10} costs {price:>10.2f} cents")

The     banana costs      24.00 cents

In [20]:
#right with leading zeros
print(f"The {item:>10} costs {price:>010.2f} cents")

The     banana costs 0000024.00 cents

In [21]:
itemdict = {"item": "banana", "price": 24}

In [22]:
print(f"Item:{itemdict['item']:.>10}\n" + f"Price:{'$':.>4}{itemdict['price']:5.2f}")

Item:....banana
Price:...$24.00