# Chapter 1 Getting started with data

## Atomic Data Types

1. int
2. float

In [1]:
print(2 + 3 * 4)
print((2 + 3) * 4)
print(2 ** 10)
#returns a float
print(6 / 3)
print(7 / 3)
#return an integer
print(7 // 3)
#modulo returns the remainter nice for finding things that are dividible by somethign
print(7 % 3)
print(3 / 6)
print(3 // 6)
print(3 % 6)
print(2 ** 100)

14
20
1024
2.0
2.3333333333333335
2
1
0.5
0
3
1267650600228229401496703205376

## Boolean Data Type

1. bool class
True or False
can be used with ```and``` ```or``` and `not`
Also useful with comparison operators like `>`

In [2]:
print(5 == 10)
print(10 > 5)
print((5 >= 1) and (5 <= 10))

False
True
True

## Identifiers
1. these are the variable names, start with a letter or _

In [4]:
the_sum = 0
the_sum

the_sum = the_sum + 1
print(the_sum)

the_sum = True
print(the_sum)

1
True

# Lists

Table 2: Operations on Any Sequence in Python
 1. indexing `[]`
 2. concatenation `+`
 3. repetition `*` concatinate a repeated number of times
 4. membership `in` Ask if an item is in a sequence
 5. length `len`
 6. slicing `[:]` slicing starts at 0 and is non-inclusive

In [5]:
#repetition leads to a repeat of instances, but they all point to the same place in memory!
#This means that what you do to one repeat will happen to all repeats
my_list = [1, 2, 3, 4]
big_list = [my_list] * 3
print(big_list)
my_list[2] = 45
print(big_list)

[[1, 2, 3, 4], [1, 2, 3, 4], [1, 2, 3, 4]]
[[1, 2, 45, 4], [1, 2, 45, 4], [1, 2, 45, 4]]

## List methods

In [6]:
my_list = [1024, 3, True, 6.5]
#append adds a new item at the end of the list
my_list.append(False)
print(my_list)

[1024, 3, True, 6.5, False]

In [7]:
# insert will insert an item into the specified location 
#.insert(location, item_to_insert)
my_list.insert(2,4.5)
print(my_list)

[1024, 3, 4.5, True, 6.5, False]

In [8]:
#pop will remove and return the last item in the list
print(my_list.pop()) 
print(my_list)

False
[1024, 3, 4.5, True, 6.5]

In [9]:
#.pop(i) will remove and return the item from the list at this location
print(my_list.pop(1)) 
print(my_list)

3
[1024, 4.5, True, 6.5]